<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.0/socket.io.min.js"></script>
    <script type="text/javascript" charset="utf-8">
        var socket = io.connect('http://localhost:8000')

        socket.on('connect', function() {
            socket.send('User has connected')
        });

        socket.on('message', function(msg) {
            d3.select("#messages").append("li").html(msg)
        });

        function sendMessage(){
            //(SO) socket.send is simply an alias for socket.emit('message', message)
            socket.send(d3.select("#myMessage").node().value)
        }
        function getUsername(){
            username = d3.select("#username").node().value
            if (username){
                return username
            }
            else {
                username = "anonymous"
                return username
            }
        }
        function joinRoom1(){
            username = getUsername()
            socket.emit('join', {'username': username, 'room': 1})
        }
        function leaveRoom1(){
            username = getUsername()
            socket.emit('leave', {'username': username, 'room': 1})
        }
        function joinRoom2(){
            username = getUsername()
            socket.emit('join', {'username': username, 'room': 2})
        }
        function leaveRoom2(){
            username = getUsername()
            socket.emit('leave', {'username': username, 'room': 1})
        }
    </script>
    <ul id="messages"></ul>
    <input type="text" id="myMessage">
    <input type="text" id="username" placeholder="username">
    <button id="sendbutton" onclick="sendMessage()">Send</button>
    <button id="joinRoom1" onclick="joinRoom1()">Join Room 1</button>
    <button id="leaveRoom1" onclick="leaveRoom1()">Leave Room 1</button>
    <button id="joinRoom2" onclick="joinRoom2()">Join Room 2</button>
    <button id="leaveRoom2" onclick="leaveRoom2()">Leave Room 2</button>
</body>
</html>